@media (max-width: 1400px) {
  .questions-section .questions-content {
    display: flex !important;
  }

  .articles-page {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .questions-section .questions-ask h4 {
    font-size: 26px;
  }
}

@media (max-width: 1200px) {
  .about-us-section .content {
    padding: 0% 0% 0% 40%;
  }
}

@media (max-width: 999px) {
  .navbar {
    padding: 0;

    &.scrolled .navbar-nav {
      display: flex !important;
      top: 90px;
    }

    .custom-btn {
      display: none;
    }

    .brand-name img {
      width: 120px !important;
    }

    .hamburger {
      display: block !important;
    }
    .contain .navbar-nav .nav-item .nav-link {
      color: black !important;
    }

    .navbar-nav li {
      border-color: #639e2e !important;
    }

    .navbar-nav {
      width: 100%;
      position: absolute;
      overflow-y: scroll;
      top: 90px;
      right: -100%;
      height: 100vh;
      flex-direction: column !important;
      background-color: #ffffff;
      justify-content: flex-start;
      padding: 10px 20px;
      z-index: 999;
      gap: 0px !important;
      transition: all 0.3s linear;

      li {
        margin-inline-end: 0px !important;
        padding: 20px 0px !important;
        flex-wrap: wrap !important;
        border-bottom: 1px solid rgba($color: #fff, $alpha: 0.1);
        justify-content: space-between;

        &:last-child {
          border-bottom: 0px !important;
        }

        .nav-link {
          width: fit-content;

          &::after {
            bottom: -25px !important;
          }
        }

        .dropdown-menu {
          display: none !important;
          width: 100% !important;
          clip-path: none;
          position: relative !important;
          top: unset !important;
          transform: translateY(0px) !important;
          opacity: 1 !important;
          visibility: visible !important;
          padding: 15px 10px !important;

          a {
            padding: 5px 0px !important;
            width: 100%;
            display: flex;
            margin-bottom: 10px;

            &:last-child {
              margin-bottom: 0px !important;
            }
          }

          &.show {
            display: block !important;
            transform: translateY(0px) !important;
          }
        }

        .dropdown-toggle {
          justify-content: space-between;
          width: 100%;

          &::after {
            bottom: unset !important;
          }
        }

        &:hover {
          .dropdown-menu {
            transform: translateY(0px);
            opacity: 1;
            visibility: visible;
          }

          .dropdown-toggle::after {
            transform: rotate(0deg);
            animation: none !important;
            clip-path: none !important;
          }
        }
      }

      &.active-nav {
        right: 0px !important;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  header {
    .here-content {
      padding: 200px 0 !important;
    }
  }

  .global-heade-other-pages {
    .here-content {
      padding: 200px 0 !important;
    }
  }
}

@media (max-width: 1160px) {
  .share-articles {
    display: flex;
    flex-direction: column;
    align-items: center;

    h5 {
      text-align: center;
      display: block !important;
      margin-bottom: 1rem !important;
    }
  }
  .articles-details-hero-content .here-content h1 {
    width: 64%;
    font-size: 33px;
    text-align: center;
  }

  .global-heade-other-pages {
    .here-content {
      h1 {
        width: 64%;
        font-size: 33px;
        text-align: center;
      }
    }
  }

  .contact-us-section {
    & > img {
      width: 100% !important;
    }

    .contact-us-info {
      img {
        width: 50% !important;
      }
    }
  }
  .articles-page {
    grid-template-columns: repeat(2, minmax(0, 1fr));

    .post-card {
      max-width: 100% !important ;

      .articles-image {
        img {
          max-height: 300px !important;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .navbar .contain .navbar-nav .nav-item .nav-link {
    font-size: 16px !important;
  }
}

@media (max-width: 1060px) {
  .about-us-section p {
    font-size: 24px !important;
  }

  .about-us-section h5 {
    max-width: 100% !important;
  }

  .features-grid {
    display: flex !important;
    flex-direction: column !important;

    .features-image {
      order: 2;
      display: flex;
      justify-content: center;

      img {
        width: 448px !important;
        height: 490px !important;

        margin-bottom: 2rem;
      }
    }
  }
}

@media (min-width: 1024px) {
  .footer-info {
    & > img {
      width: 130px !important;
      height: 75px !important;
    }
  }

  .footer-info {
    width: 33%;
  }
}

@media (max-width: 1024px) {
  .request-our-services .requset-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2,
    p {
      text-align: center;
    }
  }

  .faq-section {
    padding: 60px 0px 104px 0px;
    margin: 0px 0px 0 0px;
  }
  .navbar .contain .navbar-nav .nav-item .nav-link {
    font-size: 14px !important;
  }
  footer {
    .footer-services {
      display: none !important;
    }
  }

  .footer-info {
    & > img {
      width: 322px !important;
      height: 142px !important;

      margin-bottom: 20px !important;
    }
  }
}

@media (max-width: 999px) {
  .articles-section-page {
    img {
      width: 100%;
    }
  }

  .articles-section-page .articles-section-content {
    padding: 0% 1% 0% 1%;
  }
  .navbar .contain .navbar-nav .nav-item .nav-link {
    font-size: 18px !important;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 1140px;
  }
}

@media (max-width: 992px) {
  .request-our-services .requset-content {
    padding: 50px 15px 65px 15px;
  }
  .contact-us-section {
    flex-direction: column;
    & > img {
      width: 100% !important;
    }

    .contact-us-info {
      a {
        display: flex;
        justify-content: center;
      }

      .icon-list-item {
        text-align: center;
      }
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 50% !important;
      }
    }
  }
  .articles-section .articles-content {
    padding: 10px 10px 10px 0px !important;
  }
  .about-us-section .about-us-gallery {
    grid-template-columns: repeat(4, minmax(0, 0.8fr));
    margin: 0;
  }
  .container {
    max-width: 960px;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  .features-section h5 {
    font-size: 30px;
  }
}

@media (max-width: 890px) {
  .global-heade-other-pages .here-content {
    padding: 130px 0 !important;
  }

  .articles-details-hero-content .here-content h1,
  .articles-details-hero-content .here-content p {
    width: 92%;
  }

  .global-heade-other-pages {
    .here-content {
      p,
      h1 {
        width: 92% !important;
      }
    }
  }

  .about-company-image {
    display: flex !important;
    flex-direction: column;

    img {
      height: 100%;
    }
  }
  .articles-section .content p {
    font-size: 22px !important;
  }

  .questions-section .questions-content {
    flex-direction: column;
  }

  .questions-section .questions-ask {
    width: 100%;
    margin-top: 2rem;
  }

  .questions-section .questions-images {
    width: 100%;

    img {
      // width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 850px) {
  .post-card {
    width: 100% !important;
  }
  .post-card .articles-image img {
    max-width: 100%;
    max-height: 100%;
  }

  .about-us-section {
    background-size: 230px !important;
  }
  .about-us-section .content {
    padding: 0% 0% 0% 23%;
  }
}

@media (max-width: 768px) {
  .request-our-services::before {
    background-image: unset !important;
    background-color: #fff;
    opacity: 0.7;
  }

  .request-our-services .requset-content .phone-button-div {
    &:hover {
      opacity: 0.85;
    }
  }

  .request-our-services .requset-content {
    margin: unset !important;
  }

  .features-section .features-grid .features-cards {
    display: flex !important;
    flex-direction: column !important;
    gap: 1rem;

    .features-card {
      display: flex !important;
      flex-direction: column !important;
      align-items: center;
      margin-top: 1rem;

      .card-content {
        order: 2;
        margin-top: 1rem;

        h4,
        p {
          text-align: center;
        }
      }
    }
  }

  .footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 700px) {
  .articles-section-page .more-articles-card .more-articles-content {
    padding: 30px 15px 30px 15px;
    width: 92% !important;
  }
  .call-us-section .logo-call-us img {
    width: 230px !important;
    height: 100px !important;
  }

  .call-us-section .call-us-content p {
    text-align: center;
  }

  .about-us-section .about-us-gallery {
    grid-template-columns: repeat(3, minmax(0, 0.8fr));
    margin: 0;
  }
  .features-section .features-small-card-swiper .swiper-slide-inner img {
    width: 100% !important;
  }
  .features-section .counter-number {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 600px) {
  .request-our-services {
    background-image: unset !important;

    h2 {
      font-size: 22px !important;
    }

    p {
      font-size: 14px;
    }
  }
  .faq-section .design-collapes-tabs {
    padding: 10px 10px 10px 0px;
  }

  .questions-collapes .card button {
    font-size: 15px;
    text-align: start;
  }
  .contact-us-section > img {
    height: 100% !important;
    min-width: 100%;
  }

  .articles-page {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .about-us-section {
    background-size: 0px !important;
  }
  .about-us-section .content {
    padding: 0% 0% 0% 0%;
  }

  .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .footer-copyrights {
    height: 100% !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    .copyrights-content {
      flex-direction: column;
      gap: 0.8rem;
    }
  }
}

@media (max-width: 530px) {
  .articles-section-page .show-more-articles-swiper h5 {
    font-size: 20px;
  }
  .contact-us-section h3 {
    font-size: 20px;
  }
  .contact-us-section {
    .contact-us-info {
      img {
        width: 80% !important;
      }
    }
  }
  .articles-section .content p {
    font-size: 18px !important;
  }

  .features-section h5 {
    font-size: 22px;
  }

  .features-section .counter-number {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 480px) {
  .request-our-services .requset-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .questions-section .questions-ask .questions-collapes .card button {
    font-size: 15px !important;
    text-align: start;
  }
  .questions-section .questions-ask h4 {
    font-size: 22px !important;
  }
  .questions-section .questions-images {
    width: 100%;

    img {
      width: 100% !important;
      max-height: 100% !important;
    }
  }
  .about-us-section .about-us-gallery {
    grid-template-columns: repeat(2, minmax(0, 0.8fr));
    margin: 0;
  }
  .about-us-section p {
    font-size: 20px !important;
  }

  .about-us-section h5 {
    font-size: 16px !important;
  }

  .features-grid .features-image img {
    width: 100% !important;
    height: 100% !important;
  }
}

@media (max-width: 390px) {
  .footer-info {
    & > img {
      width: 90% !important;
      height: 100% !important;
    }
  }

  .features-section .counter-number {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
}

//

@media (min-width: 200px) and (max-width: 768px) {
  header {
    min-height: max-content !important;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;

    .here-content {
      padding: 110px 0;

      h5 {
        font-size: 12px;
      }

      h1 {
        font-size: 37px;
        margin-top: 25px;
      }

      p {
        margin: 25px 0 40px 0;
      }
    }

    .global-heade-other-pages {
      .here-content {
        padding: 110px 0 !important;

        h5 {
          font-size: 12px !important;
        }

        h1 {
          font-size: 37px !important;
          margin-top: 25px !important;
        }

        p {
          margin: 25px 0 40px 0 !important;
        }
      }
    }
  }
}
