@charset "UTF-8";
* {
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*::-moz-selection {
  background-color: #1c3f19;
  color: #fff;
}
*::selection {
  background-color: #1c3f19;
  color: #fff;
}
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background-color: #1c3f19;
}
*::-webkit-scrollbar-thumb {
  background: #639e2e;
  border-radius: 8px;
}
*::-webkit-scrollbar-thumb:hover {
  background: #639e2e;
}

.overflowNone {
  overflow: hidden;
}

@font-face {
  font-family: 'TJA-Bold';
  src: url('../fonts/Tajawal-Bold.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'TJA';
  src: url('../fonts/Tajawal-Black.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'TJA';
  src: url('../fonts/Tajawal-Regular.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'TJA';
  src: url('../fonts/Tajawal-Medium.ttf');
  font-display: swap;
  font-weight: bold;
}
* {
  font-family: 'TJA', sans-serif;
}

.btn:focus,
button:focus,
input:focus,
.form-control:focus {
  outline-width: 0px !important;
  outline-color: transparent !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

button {
  outline: none !important;
  border: 0px !important;
}

.swiper-button-next,
.swiper-button-prev {
  top: unset;
  transform: translateY(0px);
  width: 75px;
  height: 50px;
  border: 1px solid transparent;
  background-color: transparent;
  bottom: 0;
  border-radius: 8px;
  overflow: hidden;
}
.swiper-button-next.primary-color,
.swiper-button-prev.primary-color {
  background-color: rgba(30, 91, 42, 0.08);
}
.swiper-button-next.primary-color::before,
.swiper-button-prev.primary-color::before {
  background-color: var(--primary-color);
  height: 100%;
}
.swiper-button-next.primary-color::after,
.swiper-button-prev.primary-color::after {
  filter: var(--light-filter);
}
.swiper-button-next.primary-color:hover::before,
.swiper-button-prev.primary-color:hover::before {
  height: 0px;
}
.swiper-button-next.primary-color:hover::after,
.swiper-button-prev.primary-color:hover::after {
  filter: var(--primary-filter);
}
.swiper-button-next.secondary-color,
.swiper-button-prev.secondary-color {
  background-color: rgba(82, 178, 20, 0.08);
}
.swiper-button-next.secondary-color::before,
.swiper-button-prev.secondary-color::before {
  background-color: var(--secondary-color);
  height: 100%;
}
.swiper-button-next.secondary-color::after,
.swiper-button-prev.secondary-color::after {
  filter: var(--light-filter);
}
.swiper-button-next.secondary-color:hover::before,
.swiper-button-prev.secondary-color:hover::before {
  height: 0px;
}
.swiper-button-next.secondary-color:hover::after,
.swiper-button-prev.secondary-color:hover::after {
  filter: var(--secondary-filter);
}
.swiper-button-next::before,
.swiper-button-prev::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0%;
  border-radius: 0px;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  transition: all 0.3s linear;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  position: absolute;
  width: 24px;
  height: 24px;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  z-index: 9;
  background: url('../images/icons/arrow.svg') center/contain no-repeat;
  color: transparent;
  filter: var(--primary-filter);
}
.swiper-button-next:hover::before,
.swiper-button-prev:hover::before {
  height: 100%;
}
.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  filter: var(--light-filter);
}

.swiper-button-prev {
  left: calc(50% - 85px) !important;
  right: unset !important;
}

.swiper-button-next {
  left: unset !important;
  right: calc(50% - 85px) !important;
}
.swiper-button-next::after {
  transform: scaleX(-1);
}

:root {
  --primary-color: #1c3f19;
  --secondary-color: #639e2e;
  --dark-color: #000;
  --light-color: #fff;
  --gray-color: #808080;
  --danger-color: #e92e2e;
  --primary-filter: invert(19%) sepia(10%) saturate(3443%) hue-rotate(68deg)
    brightness(85%) contrast(86%);
  --secondary-filter: invert(51%) sepia(80%) saturate(646%) hue-rotate(56deg)
    brightness(96%) contrast(84%);
  --light-filter: invert(92%) sepia(100%) saturate(23%) hue-rotate(251deg)
    brightness(108%) contrast(100%);
  --gray-filter: invert(58%) sepia(0%) saturate(3400%) hue-rotate(13deg)
    brightness(87%) contrast(97%);
}

.custom-btn {
  width: 160px;
  height: 35px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  display: flex;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  border: 2px solid transparent;
  gap: 10px;
}
.custom-btn.primay-color img {
  filter: var(--light-filter);
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
  object-fit: contain;
}
.custom-btn.primay-color span {
  color: var(--light-color);
}
.custom-btn.primay-color span::after {
  background-color: var(--primary-color);
}
.custom-btn.primay-color span::before {
  background-color: var(--light-color);
}
.custom-btn.primay-color:hover {
  border-color: var(--primary-color);
}
.custom-btn.primay-color:hover img {
  filter: var(--primary-filter);
}
.custom-btn.primay-color:hover span {
  color: var(--primary-color);
}
.custom-btn.secondary-bk span {
  color: var(--light-color);
}
.custom-btn.secondary-bk span::after {
  background-color: var(--secondary-color);
}
.custom-btn.secondary-bk span::before {
  background-color: var(--light-color);
}
.custom-btn.secondary-bk:hover {
  border-color: var(--secondary-color);
}
.custom-btn.secondary-bk:hover span {
  color: var(--secondary-color);
}
.custom-btn span {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  border-radius: 0px;
  align-content: center;
  justify-content: center;
  position: absolute;
  transform: translateX(0px) scale(1);
  font-size: 0.9375rem;
  font-weight: 500;
  transition: all 0.3s linear;
}
.custom-btn span::after,
.custom-btn span::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 0px;
  transition: all 0.3s linear;
}
.custom-btn span::after {
  transform: translateY(0px) scale(1);
}
.custom-btn span::before {
  transform: translateY(100%) scale(1);
}
.custom-btn:hover span::after {
  transform: translateY(-100%);
}
.custom-btn:hover span::before {
  transform: translateY(0%);
}
.custom-btn:hover::after,
.custom-btn:hover::before {
  transform: translateX(0px) !important;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em 0px;
  z-index: 999;
  transition: all 0.3s linear;
}
.navbar.scrolled {
  background-color: var(--primary-color);
  padding: 15px 0px !important;
  box-shadow: 0px 0px 10px rgba(82, 178, 20, 0.08);
}
.navbar.scrolled .brand-name img {
  height: 70px !important;
}
.navbar .contain {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.navbar .contain .hamburger {
  display: none;
}
.navbar .contain .hamburger .line {
  width: 30px;
  height: 3px;
  background: var(--light-color);
  display: block;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
}
.navbar .contain .hamburger.active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
  transform: rotate(45deg);
}
.navbar .contain .hamburger.active .line:nth-child(2) {
  width: 0px;
}
.navbar .contain .hamburger.active .line:nth-child(1),
.navbar .contain .hamburger.active .line:nth-child(3) {
  transition-delay: 0.3s;
}
.navbar .contain .hamburger.active .line:nth-child(1) {
  transform: translateY(6.5px);
}
.navbar .contain .hamburger.active .line:nth-child(3) {
  transform: translateY(-15px) rotate(90deg);
}
.navbar .contain .brand-name img {
  width: 200px;
  height: 88px;
  -o-object-fit: contain;
  object-fit: contain;
  transition: all 0.3s linear;
}
.navbar .contain .navbar-nav {
  flex-direction: row;
  gap: 2em;
}
.navbar .contain .navbar-nav .nav-item {
  margin: 0px;
  padding: 0px;
}
.navbar .contain .navbar-nav .nav-item .nav-link {
  font-size: 18px;
  font-weight: bold;
  color: var(--light-color);
  padding: 0px;
  margin: 0px;
}
.navbar .contain .navbar-nav .nav-item .nav-link.active {
  color: #6edb0f !important;
}
.navbar .contain .navbar-nav .nav-item .nav-link:hover,
.navbar .contain .navbar-nav .nav-item .nav-link.active {
  color: var(--secondary-color);
}
.navbar .contain .navbar-nav .nav-item.socail-contain {
  display: none;
}
.navbar .contain .navbar-nav .nav-item .social {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 0.6rem;
}
.navbar .contain .navbar-nav .nav-item .social li a {
  width: 50px;
  height: 50px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 2px solid var(--light-color);
  position: relative;
  border-radius: 8px;
  z-index: 9;
  overflow: hidden;
}
.navbar .contain .navbar-nav .nav-item .social li a img {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
  object-fit: contain;
  filter: var(--light-filter);
}
.navbar .contain .navbar-nav .nav-item .social li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0%;
  background-color: var(--light-color);
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s linear;
}
.navbar .contain .navbar-nav .nav-item .social li a:hover img {
  animation: fadeInLeft 0.4s linear both;
  filter: var(--primary-filter);
}
.navbar .contain .navbar-nav .nav-item .social li a:hover::after {
  height: 100%;
}
.navbar .contain .navbar-nav .nav-item .dropdown-toggle {
  display: flex !important;
  align-items: center !important;
  align-content: center !important;
  gap: 10px;
}
.navbar .contain .navbar-nav .nav-item .dropdown-toggle::after {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url('../images/icons/down_arrow.svg') center/contain no-repeat;
  filter: var(--secondary-filter);
  border: 0px;
  -webkit-clip-path: none;
  clip-path: none;
  position: relative;
  top: unset;
  bottom: unset;
  left: unset;
  right: unset;
}
.navbar
  .contain
  .navbar-nav
  .nav-item
  .dropdown-toggle[aria-expanded='true']::after {
  transform: rotate(180deg);
  animation: none !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
}
.navbar .contain .navbar-nav .nav-item .dropdown-menu {
  width: 250px;
  border: 0px;
  position: absolute;
  top: 100%;
  border-radius: 10px;
  padding: 0px;
  padding: 20px 15px;
  display: block;
  background-color: var(--secondary-color);
  transform: translateY(20px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
  left: 0px;
}
.navbar .contain .navbar-nav .nav-item .dropdown-menu a {
  display: flex;
  align-items: center;
  align-content: center;
  padding: 10px 0px;
  color: var(--light-color);
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid rgba(255, 255, 255, 0.04);
}
.navbar .contain .navbar-nav .nav-item .dropdown-menu a:first-child {
  padding-top: 0px;
}
.navbar .contain .navbar-nav .nav-item .dropdown-menu a:last-child {
  padding-bottom: 0px;
  border: 0px;
}
.navbar .contain .navbar-nav .nav-item .dropdown-menu a:hover {
  background: transparent !important;
}
.navbar .contain .navbar-nav .nav-item .dropdown-menu a:hover img {
  animation: tada 0.3s linear both;
}
.navbar .contain .navbar-nav .nav-item .dropdown-menu a:hover span {
  color: var(--primary-color);
}
.navbar .contain .navbar-nav .nav-item .dropdown-menu.show {
  transform: translateY(5px);
  opacity: 1;
  visibility: visible;
}
.navbar .contain .navbar-nav .nav-item:hover .dropdown-menu {
  transform: translateY(5px);
  opacity: 1;
  visibility: visible;
}
.navbar .contain .navbar-nav .nav-item:hover .dropdown-toggle::after {
  transform: rotate(180deg);
  animation: none !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
}
.navbar .contain .button-contain {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 10px;
}
.navbar .contain .button-contain .lang {
  width: 50px;
  height: 50px;
  border: 2px solid var(--secondary-color);
  border-radius: 8px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;
  z-index: 9;
  overflow: hidden;
}
.navbar .contain .button-contain .lang::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0px;
  background-color: var(--secondary-color);
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s linear;
}
.navbar .contain .button-contain .lang span {
  color: var(--light-color);
  font-size: 15px;
  font-weight: 700;
}
.navbar .contain .button-contain .lang:hover::after {
  height: 100%;
}

.navbar .contain .navbar-nav .nav-item .nav-link:hover {
  transition: all 0.3s ease;
  transform: scale(1.2);
  color: #6edb0f;
}

header {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding: 0px 50px;
  background-color: var(--primary-color);
  position: relative;
  z-index: 9;
  overflow: hidden;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 790px;
}
header .header-hero-style {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  animation: niceAnimate 30s linear infinite alternate;
}
header .here-content {
  padding: 200px 30px 200px 30%;
  z-index: 9;
  color: #ffffff;
}
header .here-content h5 {
  color: #a7e500;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.55);
  font-size: 1.125rem;
  margin: 0% 0% 0% 30%;
}
header .here-content h1 {
  font-size: 4rem;
}
header .here-content p {
  margin: 0% 0% 0% 30%;
  margin: 0px 0px 0px 120px;
  margin-bottom: 1em;
  margin-bottom: 30px;
}
header .here-content a span.span-icon {
  color: #8dc100;
  transition: color 0.3s;
  width: 1.25em;
  font-size: 22px;
}
header .here-content a span.span-text {
  text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.3);
  color: #8dc100;
  transition: color 0.3s;
  align-self: center;
  padding-right: 5px;
  font-size: 24px;
  font-weight: 500 !important;
  font-family: 'TJA-Bold', sans-serif !important;
}
header .here-content a span.span-text:hover {
  color: #ffffff !important;
}
header::before {
  content: '';
  position: absolute;
  background-color: #0d3c00;
  opacity: 0.7;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
header .pattern-header {
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  line-height: 0;
  direction: ltr;
  bottom: -1px;
  transform: rotate(180deg);
}
header .pattern-header svg path {
  fill: #ffffff;
}
header .swiper-wrapper {
  width: 100%;
  padding: 0px 0px 105px;
}
header .swiper-pagination {
  justify-content: flex-start !important;
}
header .swiper-pagination .swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
}
header
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1 !important;
  background-color: var(--light-color) !important;
}

.tree-icon span {
  width: 100px;
  margin: 0 auto;
  align-items: center;
  display: flex;
}
.tree-icon span::after,
.tree-icon span::before {
  display: block;
  content: '';
  border-bottom: 0;
  flex-grow: 1;
  border-top: 2.1px solid #639e2e;
}
.tree-icon span svg {
  width: 20px !important;
  height: 20px !important;
  margin: 0 10px;
  position: relative;
  display: block;
}
.tree-icon span svg path {
  fill: #639e2e;
}

.our-services-section {
  background-color: #fff;
  background-image: url('../images/global/potted-plant-and-gardening-tool-1.png');
  background-position: top right;
  background-repeat: no-repeat;
  padding: 0px 0px 60px 0px;
}
.our-services-section .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0% 22% 0% 22%;
}
.our-services-section .content h5 {
  font-size: 1.125rem;
  color: #0d3c00;
}
.our-services-section .content p {
  font-size: 31px;
  font-weight: 700;
  text-align: center;
  color: #0d3c00;
}
.our-services-section .our-services-grid {
  margin-top: 45px !important;
  display: grid;
  margin: 0% 6% 0% 6%;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-column: span 2 / span 2;
  gap: 20px;
}
.our-services-section .our-services-grid .our-services-card {
  background-color: rgba(242, 242, 242, 0.9215686275);
  padding: 10px 25px;
}
.our-services-section .our-services-grid .our-services-card > div h6 {
  color: #826e53 !important;
  font-family: 'TJA-Bold', sans-serif !important;
  font-size: 14px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
.our-services-section .our-services-grid .our-services-card h3 {
  color: #0d3c00;
  font-size: 17px;
  margin-bottom: 10px;
  font-family: 'TJA-Bold', sans-serif !important;
}
.our-services-section .our-services-grid .our-services-card p {
  color: #295600;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
}

@media (max-width: 1024px) {
  .our-services-section .content {
    margin: 0% 16% 0% 16%;
    background-color: rgba(255, 255, 255, 0.8784313725);
    padding: 12px 20px;
  }
  .our-services-section .content h5 {
    text-align: center;
    font-size: 16px;
  }
  .our-services-section .content p {
    font-size: 29px !important;
  }
}
@media (max-width: 800px) {
  .our-services-grid {
    display: flex !important;
    flex-direction: column !important;
    gap: 1.8rem !important;
    margin: 0% !important;
  }
  .our-services-section .content {
    margin: 0 !important;
  }
  .our-services-section .content p {
    font-size: 22px !important;
  }
}
.features-section .content h1 {
  color: #0d3c00;
  font-weight: 700;
  font-size: 1.125rem;
  text-align: center;
  margin-bottom: 20px;
}

.features-section {
  padding: 50px 0px 50px 0px;
  background-color: #f6f6f6;
}
.features-section .features-section h4 {
  color: #0d3c00;
  font-weight: 700;
  font-size: 1.125rem;
  text-align: center;
  margin-bottom: 20px;
}
.features-section h5 {
  font-size: 40px;
  text-align: center;
  color: #0d3c00;
  margin-bottom: 20px;
  font-family: 'TJA-Bold', sans-serif !important;
}
.features-section .features-grid {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  gap: 24px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.features-section .features-grid .features-image {
  grid-column: span 2 / span 2;
}
.features-section .features-grid .features-image img {
  width: 250px;
  height: 270px;
}
.features-section .features-grid .features-cards {
  grid-column: span 6 / span 6;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
}
.features-section .features-grid .features-cards .features-card {
  display: flex;
}
.features-section .features-grid .features-cards .features-card .card-content {
  grid-column: span 10 / span 10;
}
.features-section .features-grid .features-cards .features-card .card-icon {
  width: 48px;
  min-width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8dc100;
}
.features-section .features-grid .features-cards .features-card .card-icon svg {
  width: 16px;
  height: 16px;
}
.features-section
  .features-grid
  .features-cards
  .features-card
  .card-icon
  svg
  path {
  fill: #fff;
}
.features-section .features-grid .features-cards .features-card .card-content {
  padding-left: 20px;
}
.features-section
  .features-grid
  .features-cards
  .features-card
  .card-content
  h4 {
  color: #639e2e;
  font-size: 20px;
  font-weight: 200;
  text-align: start;
  font-family: 'TJA-Bold', sans-serif !important;
  margin-bottom: 13px;
}
.features-section
  .features-grid
  .features-cards
  .features-card
  .card-content
  p {
  font-size: 16px;
  font-weight: 600;
  color: #295600;
}
.features-section .features-small-card-swiper .swiper-slide-inner img {
  width: 158px !important;
  height: 158px;
}
.features-section .counter-number {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.features-section .counter-number div {
  border-right: 1px solid rgba(0, 0, 0, 0.0784313725);
}
.features-section .counter-number h6 {
  font-size: 40px;
  color: #8e6e53;
  font-weight: 200 !important;
  font-family: 'TJA-Bold', sans-serif !important;
}
.features-section .counter-number span {
  color: #295600;
  font-size: 16px;
}

.about-us-section {
  padding: 64px 0 104px;
  background-image: url('assets/images/global/Leaf-تنسيق-حدائق-و-بساتين.png');
  background-repeat: no-repeat;
  opacity: 1;
  mix-blend-mode: darken;
}
.about-us-section .content {
  padding: 0% 0% 0% 24%;
}
.about-us-section p {
  font-size: 30px;
  color: #0d3c00;
}
.about-us-section h5 {
  max-width: 75%;
  font-size: 17px;
  color: #5b3b20;
}
.about-us-section h5 span {
  font-family: 'TJA-Bold', sans-serif !important;
  font-weight: 200 !important;
  font-weight: 16px;
  color: #5b3b20;
}
.about-us-section .about-us-gallery {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 0.8fr));
  gap: 0.7rem;
  margin: 0px 0px 0px 80px;
}
.about-us-section .about-us-gallery a {
  width: 100%;
  height: 143px;
  max-width: 100%;
  max-height: 143px;
}
.about-us-section .about-us-gallery div {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  width: 100%;
  transform-origin: center;
}

.questions-section {
  background-color: #f2f2f2;
  padding: 104px 0px 104px 0px;
}
.questions-section .questions-content {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 40px;
}
.questions-section .questions-images {
  position: relative;
  width: 394px;
  max-height: 550px;
  grid-column: span 2 / span 2;
}
.questions-section .questions-images img {
  border-radius: 12px;
}
.questions-section .questions-images .questions-images-content {
  position: absolute;
  right: 0;
  bottom: -20px;
}
.questions-section .questions-images .questions-images-content h4 {
  padding: 24px 16px 24px 16px;
  background-color: #295600;
  border-radius: 16px 0px 16px 0px;
  box-shadow: 16px 24px 80px -16px rgba(106, 150, 31, 0.24);
  color: #f2f2f2;
  font-size: 16px;
}
.questions-section .questions-ask {
  grid-column: span 4 / span 4;
  width: 77%;
}
.questions-section .questions-ask h4 {
  color: #0d3c00;
  font-size: 31px;
  font-family: 'TJA-Bold', sans-serif !important;
}
.questions-section .questions-ask p {
  color: #295600;
}
.questions-section .questions-ask p span {
  font-family: 'TJA-Bold', sans-serif !important;
  font-weight: 200;
}

.questions-collapes .card {
  background-color: transparent;
  border: unset !important;
}
.questions-collapes .card button {
  font-size: 1.125rem;
  color: #295600 !important;
  text-decoration-line: none !important;
  font-family: 'TJA-Bold', sans-serif !important;
}
.questions-collapes .card button[aria-expanded='true'] svg {
  transform: rotate(-90deg);
}
.questions-collapes .card button svg {
  width: 12px;
  height: 18px;
  margin-inline-end: 15px;
  transition: all 0.2s ease-in-out;
}
.questions-collapes .card button svg path {
  fill: #295600;
}
.questions-collapes .card-body p {
  color: #295600;
  font-size: 15px;
  line-height: 22px;
  padding: 4px 1rem;
}
.questions-collapes .card-body p span {
  font-weight: 200;
  font-family: 'TJA-Bold', sans-serif !important;
}

.articles-section {
  padding: 60px 0px 60px 0px;
}
.articles-section .our-services-section {
  min-height: 400px;
}
.articles-section .content p {
  font-weight: 200;
  font-size: 31px !important;
}
.articles-section .articles-content {
  background-color: rgba(242, 242, 242, 0.3450980392);
  width: 100%;
  margin-top: 45px;
  padding: 10px 50px 10px 0px;
}

.post-card {
  width: 250px !important;
  position: relative;
}
.post-card .articles-image img {
  width: 100%;
  height: 100%;
  max-width: 257px;
  max-height: 170px;
  border-radius: 25px 25px 0 0;
}
.post-card .post-card__badge {
  position: absolute;
  top: 0;
  background: #69727d;
  color: #fff;
  font-size: 12px;
  padding: 0.6em 1.1em;
  line-height: 1;
  font-weight: 400;
  margin: 20px;
  border-radius: 999px;
  z-index: 10;
}
.post-card .post-card__description {
  background-color: #295600;
  padding: 20px 30px 20px;
  border-radius: 0 0 10px 10px;
  z-index: 1;
  position: relative;
}
.post-card .post-card__description div {
  margin-bottom: 2px;
}
.post-card .post-card__description div a {
  font-size: 14px;
  color: #fff;
  font-weight: 900 !important;
  text-decoration-line: none !important;
  margin-bottom: 0 !important;
}
.post-card .post-card__description a {
  margin-bottom: 20px !important;
  color: #fff !important;
  text-decoration-line: underline !important;
  font-size: 12px;
  font-weight: 700;
}
.post-card a .articles-image::after {
  display: block;
  content: '';
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.35), transparent 75%);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  opacity: 1;
  transition: all 0.3s ease-out;
  height: calc(100% - 20px) !important;
}

.call-us-section {
  background-color: #f2f2f2;
}
.call-us-section .call-us-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.call-us-section .call-us-content p {
  font-size: 1.125rem;
  font-weight: 100 !important;
  color: #0d3c00;
}
.call-us-section .call-us-content .image-three {
  margin: -30px 0px 0px 0px;
  z-index: 99;
}
.call-us-section .call-us-content .image-three img {
  width: 160px;
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.call-us-section .call-us-content .call-us-number h2 a {
  font-size: 2.5rem;
  color: #0d3c00 !important;
}
.call-us-section .logo-call-us {
  max-width: 800px;
  display: flex;
  justify-content: center;
}
.call-us-section .logo-call-us img {
  width: 40%;
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 10px;
}

footer {
  width: 100%;
  min-height: 340px;
  background-color: #202714;
  position: relative;
  z-index: 9;
  overflow: hidden;
  padding: 35px 0px 35px 0px;
}
footer .footer-container {
  display: flex;
  gap: 3.5rem;
}
footer .footer-info > img {
  margin-bottom: 10px;
}
footer .footer-info p {
  color: #fff !important;
  margin-bottom: 26px;
  font-size: 1em;
}
footer .footer-info .social {
  display: flex;
  gap: 5px;
}
footer .footer-info .social a {
  background-color: #639e2e;
  border-radius: 100%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-info .social a:hover {
  opacity: 0.9;
}
footer .footer-info .social a svg {
  width: 18px !important;
  height: 18px !important;
  color: #fff !important;
}
footer .footer-services h4 {
  font-size: 24px;
  margin-bottom: 10px !important;
  color: #8dc100;
  font-family: 'TJA-Bold', sans-serif !important;
}
footer .footer-services ul li {
  color: #fff;
  margin-bottom: 12px;
}

.footer-copyrights {
  display: flex;
  color: #fff;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #8dc100;
  height: 55px;
  width: 100%;
  background-color: #202714;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 10px 0px 10px 0px;
}
.footer-copyrights .copyrights-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.footer-copyrights .copyrights-content h5 {
  font-size: 14px;
  margin: 0 !important;
}
.footer-copyrights .copyrights-content a {
  color: #fff;
  font-size: 14px;
  -webkit-text-stroke-color: #000;
  stroke: #000;
  text-shadow: 2px 2px 9px rgba(255, 255, 255, 0.6);
  margin: 0 !important;
}

@keyframes niceAnimate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.about-company-image {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.about-company-image img {
  width: 100%;
}

.request-our-services {
  position: relative;
  background-color: #dde1e2;
  background-image: url('https://bostany.net/wp-content/uploads/2023/03/landscapping-work-أعمال-تنسيق-الحدائق-و-البساتين-شركة-بستاني.jpg');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 352px;
}
.request-our-services::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  background-image: linear-gradient(
    92deg,
    #ffffff 57%,
    rgba(242, 41, 91, 0) 100%
  );
  opacity: 1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.request-our-services .requset-content {
  z-index: 9 !important;
  position: relative;
  margin: 0% 45% 0% 0%;
  padding: 50px 40px 65px 40px;
}
.request-our-services .requset-content h2 {
  font-size: 25px;
  color: #0d3c00;
}
.request-our-services .requset-content p {
  color: #295600;
  margin-block-end: 10px;
}
.request-our-services .requset-content .phone-button-div {
  margin-top: 30px;
  padding: 17px 26px;
  background-color: #639e2e;
  color: #ffffff;
  width: -moz-max-content;
  width: max-content;
  border-radius: 8px;
}
.request-our-services .requset-content a .phone-button-text {
  color: #fff !important;
}

.articles-page {
  padding: 50px 0;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 30px;
}
.articles-page .post-card {
  max-width: 350px !important;
  width: 100% !important;
  border: 1px solid #295600;
  border-radius: 25px;
}
.articles-page .post-card .articles-image img {
  max-width: 100%;
  width: 100% !important;
  height: 100% !important;
  max-height: 232px;
}
.articles-page .post-card .post-card__description {
  background-color: #fff !important;
  border-radius: 0 0 25px 25px !important;
}
.articles-page .post-card .post-card__description .post__avatar {
  position: relative;
  padding: 0 30px;
  width: 100%;
  top: -30px;
  right: -30px;
  height: 0;
  pointer-events: none;
}
.articles-page .post-card .post-card__description .post__avatar img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  pointer-events: all;
  transform: translateY(-50%);
}
.articles-page .post-card .post-card__description > div {
  margin-top: 10px !important;
}
.articles-page .post-card .post-card__description > div a {
  color: #639e2e !important;
  font-size: 21px;
  font-weight: 100 !important;
}
.articles-page .post-card .post-card__description p {
  margin: 0;
  line-height: 1.5em;
  font-size: 14px;
  color: #777;
  margin-bottom: 11px;
}
.articles-page .post-card .post-card__description a.showmore {
  color: #639e2e !important;
  font-weight: 100 !important;
  font-family: 'TJA-Bold', sans-serif !important;
  font-weight: 100;
}

.faq-section {
  padding: 60px 0px 104px 0px;
  margin: 0px 40px 0px 100px;
}
.faq-section .design-collapes-tabs {
  background-color: #295600;
  padding: 10px 20px 10px 0px;
  margin-bottom: 5px;
}
.faq-section .design-collapes-tabs button {
  color: #fff !important;
}
.faq-section .design-collapes-tabs button svg path {
  fill: #8dc100 !important;
}
.faq-section h4 {
  color: #0d3c00;
  font-size: 31px;
  margin-bottom: 15px;
}
.faq-section p {
  color: #295600;
  margin-bottom: 20px;
}
.faq-section p span {
  font-family: 'TJA-Bold', sans-serif !important;
  font-weight: 200 !important;
}

.contact-us-section {
  padding: 30px 0px 30px 0px;
  display: flex;
  gap: 30px;
}
.contact-us-section h2 {
  color: #8e6e53;
  font-size: 24px;
  margin-bottom: 15px;
}
.contact-us-section h3 {
  color: #8e6e53;
  font-size: 1.75rem;
}
.contact-us-section .icon-list-item {
  margin-bottom: 15px;
}
.contact-us-section .icon-list-item .icon-list-text {
  color: #8e6e53;
  transition: color 0.3s;
}
.contact-us-section .icon-list-item .icon-list-text:hover {
  color: #8dc100;
}
.contact-us-section .icon-list-item .icon-list-icon svg path {
  color: #8dc100;
}
.contact-us-section > img {
  width: 43%;
  min-width: 550px;
  filter: brightness(100%) contrast(100%) saturate(100%) blur(0px)
    hue-rotate(0deg);
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 0px 3px 2px rgba(12, 61, 27, 0.23);
  height: 412px;
}
.contact-us-section .contact-us-info img {
  width: 38%;
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 15px;
}

.contact-social .social {
  display: flex;
  gap: 0.5rem;
}
.contact-social .social a {
  background-color: #639e2e;
  border-radius: 100%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-us-section .contact-us-info a:hover {
  opacity: 0.8;
}

.articles-details-hero-content {
  min-height: unset !important;
}
.articles-details-hero-content .pattern-header {
  display: none !important;
}
.articles-details-hero-content .here-content {
  padding: 130px 30px 50px 0% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.articles-details-hero-content .here-content h1 {
  width: 50%;
  font-size: 50px;
  text-align: center;
}
.articles-details-hero-content .here-content p {
  width: 50%;
  margin: 0px;
  text-align: center;
  color: #d8d8d2 !important;
}

.articles-section-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5rem;
}
.articles-section-page img {
  width: 62%;
  max-height: 500px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}
.articles-section-page .articles-section-content {
  padding: 0% 10% 0% 10%;
  text-align: right;
  color: #295600;
  font-family: 'Tajawal', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 2.2em;
}
.articles-section-page .articles-section-content p {
  margin: 1rem 0;
}
.articles-section-page .share-articles {
  width: 100%;
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  border-color: rgba(159, 163, 173, 0.2);
  padding: 20px 0px 20px 0px;
  display: flex;
}
.articles-section-page .share-articles h5 {
  color: #295600;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.2em;
  align-items: center;
  display: flex;
  margin-bottom: 0;
}
.articles-section-page .share-articles .social-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.articles-section-page .share-articles .social-container .social {
  display: flex;
  justify-content: center;
}
.articles-section-page .share-articles .social-container .social a {
  width: 45px !important;
  height: 45px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.articles-section-page .share-articles .social-container .social svg {
  width: 20px;
  height: 20px;
}
.articles-section-page .share-articles .social-container .social svg path {
  fill: #639e2e !important;
}
.articles-section-page .show-more-articles-swiper {
  margin: 55px 0px 55px 0px;
  width: 100%;
}
.articles-section-page .show-more-articles-swiper h5 {
  color: #639e2e;
  font-size: 24px;
  font-weight: 200;
  font-family: 'TJA-Bold', sans-serif !important;
  text-transform: capitalize;
  line-height: 1.2em;
  text-align: center;
  margin-bottom: 3rem;
}
.articles-section-page .more-articles-card {
  display: inline-block;
  width: 100%;
  background-color: #f6f6f6;
}
.articles-section-page .more-articles-card .more-articles-image {
  position: relative;
}
.articles-section-page .more-articles-card .more-articles-image img {
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
}
.articles-section-page .more-articles-card .more-articles-content {
  margin-top: -50px !important;
  background-color: #ffffff;
  padding: 30px 30px 30px 30px;
  width: 92%;
  margin-bottom: 15px !important;
  position: relative;
  margin: 0 auto;
}
.articles-section-page .more-articles-card .more-articles-content h4 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
}
.articles-section-page .more-articles-card .more-articles-content h4 a {
  color: #295600;
  font-weight: 700 !important;
}
.articles-section-page
  .more-articles-card
  .more-articles-content
  .button-content-wrapper {
  height: 1px;
  width: 100%;
  margin-bottom: 15px;
}
.articles-section-page
  .more-articles-card
  .more-articles-content
  .more-articles-link {
  color: #ffffff;
  background-color: #295600;
  padding: 10px 10px 10px 10px;
  font-size: 12px;
  border-radius: 8px;
}

.global-heade-other-pages .pattern-header {
  display: block !important;
}
.global-heade-other-pages .here-content {
  padding: 130px 30px 230px 0% !important;
}

.fixed-icon {
  position: fixed;
  bottom: 25px;
  left: 30px;
  z-index: 92;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  animation: 5s cubic-bezier(0.84, -0.54, 0.31, 1.19) infinite
    chaty-animation-bounce;
}
.fixed-icon a {
  width: 54px;
  height: 54px;
}
.fixed-icon button {
  background-color: rgb(255, 255, 255);
  color: rgb(14, 103, 11);
  text-align: center;
  min-width: 1em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px 15px;
  border-radius: 10px;
  background: #fff;
  background-color: rgb(255, 255, 255);
  z-index: 1000;
  box-shadow: 0 1.93465px 7.73859px rgba(0, 0, 0, 0.15);
  font-size: 17px;
  line-height: 21px;
  max-height: 35px;
}
.fixed-icon button::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #fff;
  right: calc(0em - 10px);
  transform: translate(0.5em, -50%);
  left: calc(0em - 5px);
  right: auto;
}

.chaty-animation-bounce,
.chaty-animation-jump {
  animation: 5s cubic-bezier(0.84, -0.54, 0.31, 1.19) infinite
    chaty-animation-bounce;
}

@keyframes chaty-animation-bounce {
  0%,
  100%,
  20% {
    transform: none;
  }
  10% {
    transform: translateY(-1em);
  }
}
@media (max-width: 1400px) {
  .questions-section .questions-content {
    display: flex !important;
  }
  .articles-page {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .questions-section .questions-ask h4 {
    font-size: 26px;
  }
}
@media (max-width: 1200px) {
  .about-us-section .content {
    padding: 0% 0% 0% 40%;
  }
}
@media (max-width: 999px) {
  .navbar {
    padding: 0;
  }
  .navbar.scrolled .navbar-nav {
    display: flex !important;
    top: 90px;
  }
  .navbar .custom-btn {
    display: none;
  }
  .navbar .brand-name img {
    width: 120px !important;
  }
  .navbar .hamburger {
    display: block !important;
  }
  .navbar .contain .navbar-nav .nav-item .nav-link {
    color: black !important;
  }
  .navbar .navbar-nav li {
    border-color: #639e2e !important;
  }
  .navbar .navbar-nav {
    width: 100%;
    position: absolute;
    overflow-y: scroll;
    top: 90px;
    right: -100%;
    height: 100vh;
    flex-direction: column !important;
    background-color: #ffffff;
    justify-content: flex-start;
    padding: 10px 20px;
    z-index: 999;
    gap: 0px !important;
    transition: all 0.3s linear;
  }
  .navbar .navbar-nav li {
    margin-inline-end: 0px !important;
    padding: 20px 0px !important;
    flex-wrap: wrap !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    justify-content: space-between;
  }
  .navbar .navbar-nav li:last-child {
    border-bottom: 0px !important;
  }
  .navbar .navbar-nav li .nav-link {
    width: -moz-fit-content;
    width: fit-content;
  }
  .navbar .navbar-nav li .nav-link::after {
    bottom: -25px !important;
  }
  .navbar .navbar-nav li .dropdown-menu {
    display: none !important;
    width: 100% !important;
    -webkit-clip-path: none;
    clip-path: none;
    position: relative !important;
    top: unset !important;
    transform: translateY(0px) !important;
    opacity: 1 !important;
    visibility: visible !important;
    padding: 15px 10px !important;
  }
  .navbar .navbar-nav li .dropdown-menu a {
    padding: 5px 0px !important;
    width: 100%;
    display: flex;
    margin-bottom: 10px;
  }
  .navbar .navbar-nav li .dropdown-menu a:last-child {
    margin-bottom: 0px !important;
  }
  .navbar .navbar-nav li .dropdown-menu.show {
    display: block !important;
    transform: translateY(0px) !important;
  }
  .navbar .navbar-nav li .dropdown-toggle {
    justify-content: space-between;
    width: 100%;
  }
  .navbar .navbar-nav li .dropdown-toggle::after {
    bottom: unset !important;
  }
  .navbar .navbar-nav li:hover .dropdown-menu {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }
  .navbar .navbar-nav li:hover .dropdown-toggle::after {
    transform: rotate(0deg);
    animation: none !important;
    -webkit-clip-path: none !important;
    clip-path: none !important;
  }
  .navbar .navbar-nav.active-nav {
    right: 0px !important;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  header .here-content {
    padding: 200px 0 !important;
  }
  .global-heade-other-pages .here-content {
    padding: 200px 0 !important;
  }
}
@media (max-width: 1160px) {
  .share-articles {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .share-articles h5 {
    text-align: center;
    display: block !important;
    margin-bottom: 1rem !important;
  }
  .articles-details-hero-content .here-content h1 {
    width: 64%;
    font-size: 33px;
    text-align: center;
  }
  .global-heade-other-pages .here-content h1 {
    width: 64%;
    font-size: 33px;
    text-align: center;
  }
  .contact-us-section > img {
    width: 100% !important;
  }
  .contact-us-section .contact-us-info img {
    width: 50% !important;
  }
  .articles-page {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .articles-page .post-card {
    max-width: 100% !important;
  }
  .articles-page .post-card .articles-image img {
    max-height: 300px !important;
  }
}
@media (max-width: 1100px) {
  .navbar .contain .navbar-nav .nav-item .nav-link {
    font-size: 16px !important;
  }
}
@media (max-width: 1060px) {
  .about-us-section p {
    font-size: 24px !important;
  }
  .about-us-section h5 {
    max-width: 100% !important;
  }
  .features-grid {
    display: flex !important;
    flex-direction: column !important;
  }
  .features-grid .features-image {
    order: 2;
    display: flex;
    justify-content: center;
  }
  .features-grid .features-image img {
    width: 448px !important;
    height: 490px !important;
    margin-bottom: 2rem;
  }
}
@media (min-width: 1024px) {
  .footer-info > img {
    width: 130px !important;
    height: 75px !important;
  }
  .footer-info {
    width: 33%;
  }
}
@media (max-width: 1024px) {
  .request-our-services .requset-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .request-our-services .requset-content h2,
  .request-our-services .requset-content p {
    text-align: center;
  }
  .faq-section {
    padding: 60px 0px 104px 0px;
    margin: 0px 0px 0 0px;
  }
  .navbar .contain .navbar-nav .nav-item .nav-link {
    font-size: 14px !important;
  }
  footer .footer-services {
    display: none !important;
  }
  .footer-info > img {
    width: 322px !important;
    height: 142px !important;
    margin-bottom: 20px !important;
  }
}
@media (max-width: 999px) {
  .articles-section-page img {
    width: 100%;
  }
  .articles-section-page .articles-section-content {
    padding: 0% 1% 0% 1%;
  }
  .navbar .contain .navbar-nav .nav-item .nav-link {
    font-size: 18px !important;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 1140px;
  }
}
@media (max-width: 992px) {
  .request-our-services .requset-content {
    padding: 50px 15px 65px 15px;
  }
  .contact-us-section {
    flex-direction: column;
  }
  .contact-us-section > img {
    width: 100% !important;
  }
  .contact-us-section .contact-us-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-us-section .contact-us-info a {
    display: flex;
    justify-content: center;
  }
  .contact-us-section .contact-us-info .icon-list-item {
    text-align: center;
  }
  .contact-us-section .contact-us-info img {
    width: 50% !important;
  }
  .articles-section .articles-content {
    padding: 10px 10px 10px 0px !important;
  }
  .about-us-section .about-us-gallery {
    grid-template-columns: repeat(4, minmax(0, 0.8fr));
    margin: 0;
  }
  .container {
    max-width: 960px;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .features-section h5 {
    font-size: 30px;
  }
}
@media (max-width: 890px) {
  .global-heade-other-pages .here-content {
    padding: 130px 0 !important;
  }
  .articles-details-hero-content .here-content h1,
  .articles-details-hero-content .here-content p {
    width: 92%;
  }
  .global-heade-other-pages .here-content p,
  .global-heade-other-pages .here-content h1 {
    width: 92% !important;
  }
  .about-company-image {
    display: flex !important;
    flex-direction: column;
  }
  .about-company-image img {
    height: 100%;
  }
  .articles-section .content p {
    font-size: 22px !important;
  }
  .questions-section .questions-content {
    flex-direction: column;
  }
  .questions-section .questions-ask {
    width: 100%;
    margin-top: 2rem;
  }
  .questions-section .questions-images {
    width: 100%;
  }
  .questions-section .questions-images img {
    height: 100%;
  }
}
@media (max-width: 850px) {
  .post-card {
    width: 100% !important;
  }
  .post-card .articles-image img {
    max-width: 100%;
    max-height: 100%;
  }
  .about-us-section {
    background-size: 230px !important;
  }
  .about-us-section .content {
    padding: 0% 0% 0% 23%;
  }
}
@media (max-width: 768px) {
  .request-our-services::before {
    background-image: unset !important;
    background-color: #fff;
    opacity: 0.7;
  }
  .request-our-services .requset-content .phone-button-div:hover {
    opacity: 0.85;
  }
  .request-our-services .requset-content {
    margin: unset !important;
  }
  .features-section .features-grid .features-cards {
    display: flex !important;
    flex-direction: column !important;
    gap: 1rem;
  }
  .features-section .features-grid .features-cards .features-card {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    margin-top: 1rem;
  }
  .features-section
    .features-grid
    .features-cards
    .features-card
    .card-content {
    order: 2;
    margin-top: 1rem;
  }
  .features-section
    .features-grid
    .features-cards
    .features-card
    .card-content
    h4,
  .features-section
    .features-grid
    .features-cards
    .features-card
    .card-content
    p {
    text-align: center;
  }
  .footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 700px) {
  .articles-section-page .more-articles-card .more-articles-content {
    padding: 30px 15px 30px 15px;
    width: 92% !important;
  }
  .call-us-section .logo-call-us img {
    width: 230px !important;
    height: 100px !important;
  }
  .call-us-section .call-us-content p {
    text-align: center;
  }
  .about-us-section .about-us-gallery {
    grid-template-columns: repeat(3, minmax(0, 0.8fr));
    margin: 0;
  }
  .features-section .features-small-card-swiper .swiper-slide-inner img {
    width: 100% !important;
  }
  .features-section .counter-number {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (max-width: 600px) {
  .request-our-services {
    background-image: unset !important;
  }
  .request-our-services h2 {
    font-size: 22px !important;
  }
  .request-our-services p {
    font-size: 14px;
  }
  .faq-section .design-collapes-tabs {
    padding: 10px 10px 10px 0px;
  }
  .questions-collapes .card button {
    font-size: 15px;
    text-align: start;
  }
  .contact-us-section > img {
    height: 100% !important;
    min-width: 100%;
  }
  .articles-page {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .about-us-section {
    background-size: 0px !important;
  }
  .about-us-section .content {
    padding: 0% 0% 0% 0%;
  }
  .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .footer-copyrights {
    height: 100% !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
  .footer-copyrights .copyrights-content {
    flex-direction: column;
    gap: 0.8rem;
  }
}
@media (max-width: 530px) {
  .articles-section-page .show-more-articles-swiper h5 {
    font-size: 20px;
  }
  .contact-us-section h3 {
    font-size: 20px;
  }
  .contact-us-section .contact-us-info img {
    width: 80% !important;
  }
  .articles-section .content p {
    font-size: 18px !important;
  }
  .features-section h5 {
    font-size: 22px;
  }
  .features-section .counter-number {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 480px) {
  .request-our-services .requset-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .questions-section .questions-ask .questions-collapes .card button {
    font-size: 15px !important;
    text-align: start;
  }
  .questions-section .questions-ask h4 {
    font-size: 22px !important;
  }
  .questions-section .questions-images {
    width: 100%;
  }
  .questions-section .questions-images img {
    width: 100% !important;
    max-height: 100% !important;
  }
  .about-us-section .about-us-gallery {
    grid-template-columns: repeat(2, minmax(0, 0.8fr));
    margin: 0;
  }
  .about-us-section p {
    font-size: 20px !important;
  }
  .about-us-section h5 {
    font-size: 16px !important;
  }
  .features-grid .features-image img {
    width: 100% !important;
    height: 100% !important;
  }
}
@media (max-width: 390px) {
  .footer-info > img {
    width: 90% !important;
    height: 100% !important;
  }
  .features-section .counter-number {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
}
@media (min-width: 200px) and (max-width: 768px) {
  header {
    min-height: -moz-max-content !important;
    min-height: max-content !important;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
  }
  header .here-content {
    padding: 110px 0;
  }
  header .here-content h5 {
    font-size: 12px;
  }
  header .here-content h1 {
    font-size: 37px;
    margin-top: 25px;
  }
  header .here-content p {
    margin: 25px 0 40px 0;
  }
  header .global-heade-other-pages .here-content {
    padding: 110px 0 !important;
  }
  header .global-heade-other-pages .here-content h5 {
    font-size: 12px !important;
  }
  header .global-heade-other-pages .here-content h1 {
    font-size: 37px !important;
    margin-top: 25px !important;
  }
  header .global-heade-other-pages .here-content p {
    margin: 25px 0 40px 0 !important;
  }
} /*# sourceMappingURL=style.css.map */
